body {
    background-color: rgb(165, 197, 169);
    width: 40rem;
}

ol{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(120, 125, 125);
    font-size: 25px;
}

ul{
    background-color:rgb(240, 63, 178);
    font-family: 'Times New Roman', Times, serif;
}

.Doorbells
{
    text-align: center;
}

.Sleighbells
{
    text-align: end;
}

.Noodles
{
    text-align: center;
}
