#digital-timer{
display: none;
flex-direction: column;
border: 1px black solid;
width: 23.43rem;

}

#timer-display-break {
	display: none;
}

.wrapper {
	width: 23.4375rem;
	background-color: aqua;
	display: flex;
}

body {


}

#timer-display {
	font-size: 5rem;
	justify-content: center;
	align-items: center;
	display: flex;
	height: 30rem;
	width: 23.43rem;

}

.stop-button {
	width: 4rem;
	margin-bottom: 4rem;
	align-self: center;
}

.dropdown-button {
	width: 3rem;
	margin: 1rem;
}


// .wrapper {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     height: 667px;
    
// }

// #timer-display, #timer-display-break {
//     width: 182px;
//     height: 104px;
//     background-color: rgb(21, 216, 216);
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     align-self: center;
// }

// #timer-display-break {
//     display: none;
// }

// body {
   
// }

// .header {
  
// }

// #start-button {
//     display: none;
// }
// #stop-button {
    
// }
// #reset-paus-button {
//     display: none;
// }

// .checkbox-menu {
//     display: none;
// }

// .set-timer {
//     display: none;
// }

// .menu-hidden {
//     display: none;
// }

