.set-timer {
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#timer-input::-webkit-inner-spin-button,
#timer-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

