.set-timer {
	width: 23.4375rem;
	height: 41.6875rem;
    background-color: #333333;
    justify-content: center;
    align-items: center;
    flex-direction: row;
	margin: 1rem;


	.reduce-time{
		margin-top: 10rem;
	}

}

#timer-input::-webkit-inner-spin-button,
#timer-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

