

 .container {
    display: grid;
    grid-template-rows: 100px 300px 100px;
    /* Du kan använda olika mått här, fr är den som fyller ut */
    /* Ett bra exempel är att sätta 1fr 2fr 1fr */
    grid-template-columns: 100px minmax(100px, 3fr) 1fr; 
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
    'header header'
    'main aside'
    'footer footer';
}
.item {
    background-color: aquamarine;
    border: solid 10px yellow;
}

.item-1{
    grid-area: header;
}
.item-2{
    grid-area: main;
}
.item-3{
    grid-area: aside;
}
.item-4{
    grid-area: footer;
} 


/*******GÖRA SÅ OBJEKT ANPASSAR SIG EFTER SIDAN*************/


.container {
    display: grid;
    grid-template-rows: repeat(4, 100px);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.item {
    background-color: aquamarine;
    border: solid 10px yellow;
} 