* {
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
  }

.container {
    display: flex;
    justify-content: center;
}

.colorBox {
    height: 5rem;
    width: 5rem;
    border: solid 1px black;

}

.colorHistorybox > ul li {
    height: 2rem;
    list-style-type: none;
    border: solid 3px white;
  }

 .colorHistorybox {


    margin-top: 5rem;
   
 }

 button {
    padding: 1em;
    font-size: large;
 }

