* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(62, 21, 104);
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    
    
}

header {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
    color: white;
    margin: 100px;
}
main {
    display: flex;
    align-items: center;
    
  
    
}

.sun-container {
    
  
    height: 600px; /* Höjd på container (hälften av solens höjd) */
    overflow: hidden; /* Döljer allt som är utanför behållaren */
    position: absolute;
    left: -400px; /* Placera behållaren längst till vänster */
}

.sun {
    width: 600px;
    height: 600px;
    background-color: rgb(255, 204, 0);
    border-radius: 50%;
}

.planet {
    margin: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.planet.mercury {
    width: 20px;
    height: 20px;
    background-color: rgb(184, 170, 170);
    
    
}
/* Stil för planeten Venus */
.planet.venus {
    width: 40px;
    height: 40px;
    background-color: rgb(235, 231, 225);
    
   
}

/* Stil för planeten Jorden */
.planet.jorden {
    width: 50px;
    height: 50px;
    background-color: #3770b4; /* Blå färg för Jorden */
    
}

/* Stil för planeten Mars */
.planet.mars {
    width: 30px;
    height: 30px;
    background-color: rgb(255, 89, 0);
    
}

.planet.jupiter {
    width: 150px;
    height: 150px;
    background-color: rgb(211, 136, 82);
    
    margin-right: 50px;

}

.planet.saturnus {
    width: 120px;
    height: 120px;
    background-color: rgb(203, 161, 83);
    
    margin-right: 50px;
}
.planet.uranus {
    width: 80px;
    height: 80px;
    background-color: rgb(159, 185, 213);
    
    margin-right: 50px;
}
.planet.neptunus {
    width: 90px;
    height: 90px;
    background-color: rgb(111, 166, 189);
    
    margin-right: 50px;
}



.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
}

/* Tidigare CSS-stilar */

.planet-info-container {
    display: none;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Transparant bakgrundsfärg */

    align-items: center;
    justify-content: center;
   
}

.planet-info {
    background-color: rgb(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 600px;
    height: 900px;
}

#close-info {
   display: flex;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
}
