.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 667px;
    
}

#timer-display, #timer-display-break {
    width: 182px;
    height: 104px;
    background-color: rgb(21, 216, 216);
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

#timer-display-break {
    display: none;
}

body {
   
}

.header {
  
}

#start-button {
    display: none;
}
#stop-button {
    
}
#reset-paus-button {
    display: none;
}

.checkbox-menu {
    display: none;
}

.set-timer {
    display: none;
}

.menu-hidden {
    display: none;
}

.dropdown-menu {
   
}