body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.section {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#note {
height: 15rem;

}

button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.container {
    display: flex;
    justify-content: space-between;
}

.left-section,
.right-section {
    width: 48%; /* Justera efter dina preferenser */
}

.left-section {
    border-right: 1px solid #ddd;
    padding-right: 20px;
}

.right-section {
    padding: 20px;
}

.recent-notes {
    margin-top: 10px;
}

.note-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

#note {
    resize: none;
}

.hidden {
    display: none;
  }
  
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Svart overlay med 50% opacitet */
  }
  
  #popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff; /* Vit bakgrund för popupen */
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000; /* Sätt ett högre z-index för att popupen ska visas över andra element */
  }
  
  #updateNoteId {
    display: none;
  }