body {
    font-family: 'Arial', sans-serif;
    background-color: #1f1f1f;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #908d8d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(152, 42, 42, 0.1);
}


.section {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #dedede;
    border: 2px solid #252525;
    border-radius: 4px;
}

#note {
height: 15rem;

}

button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #27742b;
}

.container {
    display: flex;
    justify-content: space-between;
}

.left-section,
.right-section {
    width: 48%; /* Justera efter dina preferenser */
}

.left-section {
    border-right: 2px solid #1d1d1d;
    padding-right: 20px;
    margin-top: 1.2rem;

   
}

.right-section {
    padding: 20px;
}

.recent-notes {
    margin-top: 20px;
}

.note-card {
    border: 2px solid #3c3c3c;
    background-color: #dedede;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

#note {
    resize: none;
}

.hidden {
    display: none;
  }
  
  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Svart overlay med 50% opacitet */
  }
  
  #popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #b0b0b0; /* Vit bakgrund för popupen */
    padding: 20px;
    padding-right: 35px;
    border: 1px solid #403d3d;
    z-index: 1000; /* Sätt ett högre z-index för att popupen ska visas över andra element */
  }
  
  #updateNoteId {
    display: none;
  }
  #updatedNote  {
    resize: none;
  }

  .action-button-update {
    margin-right: 5px; /* Justera detta värde för att ändra avståndet */
}

.action-button-delete {
    background-color: rgb(209, 85, 85);
}
.action-button-delete:hover {
    background-color: rgb(148, 49, 49);
}