

.background {

   border: 3px solid;
background-color: aquamarine;
}


.flexbox-container {
    height: 700px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
/*
Olika varianter man kan använda:
flex-direction: column;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
align-content: space-between;

flex abilitys:
flex: 1 (flex growth) 0 (flex shrink) 0px (flex basis)

*/
    
}

.flexbox-item {

    width: 200px;
    height: 100px;
    margin: 10px;
    border: 3px solid #333;
    background-color: rgb(166, 178, 188);
   
}

.flexbox-item-1 {

    min-height: 100px;
    /*
    align-self: center;
    flex-shrink: 0;
    you can change order of the items by using order:1,2,3
    */

}

.flexbox-item-2 {

    min-height: 200px;
    
}

.flexbox-item-3 {

    min-height: 300px;
   /* 
   flex-grow: 1;
   flex-basis: 0;
   */
}

