
header 
{
border: solid;
margin-bottom: 1rem;
background-color:rgb(142, 136, 136);
padding-left: 1rem;
width: 30rem;
}

.Box
{
border: solid;
padding-left: 1rem;
background-color: antiquewhite;
width: 30rem;
}

.Hobbies 
{
border: solid;
margin-top: 1rem;
padding-left: 1rem;
}

.Rätter
{
margin-top: 1rem;
}

.Länk
{
    border: solid;
    margin-top: 1rem;
    max-width: fit-content;
    padding: 1rem;
}

footer
{
    border: solid;
    margin-top: 3rem;
    max-width: fit-content;
    padding: 1rem;
    background-color: lightgrey;
}

img {
    width: 3cm;
    margin-top: -20px;
    border: solid 4px;
    
}

