.background {
    width: 35cm;
    height: 25cm;
    border: solid;
    background-position-x: left; 
    background-color: aqua;
    
    
}

.brev
{
    position: absolute;
    border: solid;
margin-left: 10cm;
margin-top: 7cm;
   box-shadow: 4px 4px;
   border-radius: 25px;
    background-color: bisque;
    width: 15cm;
}

.topleft
{

    margin-top: 20px;
    margin-left: 20px;
    margin-right: 4cm;
    margin-bottom: 2cm;
    text-align: left;
    color: rgb(10, 10, 68);
}


.center {
    text-align: left;
    margin-left: 4cm;
    margin-right: 2cm;
    margin-bottom: 3cm;

}

ul {

    position: relative;
    list-style-type: none;
    color: red;
    
}


img
{
    width: 3cm;
    height: 3cm;
    position: absolute;
    right:1em;
    top: 1em;

}

