


.dice.dots-6 {
    display: grid;
    grid-template-rows: 100px 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px 100px;
    border: solid black;
    border-radius: 20px;
    max-width: 500px;
    max-height: 500px;
  /* Används för att göra nya objekt läggas som col istället för row*/
   

    /* Gör en ruta till en fast storle */
    grid-auto-flow: column;

    /* Gör en ruta till en fast storle */
    grid-auto-rows: 100px;
    grid-auto-columns: 100px;
}

aside {
    
    display: flex;
    width: 85px; /* Ange den önskade diametern */
    height: 85px; /* Ange den önskade diametern */
    background-color: #090a0b; /* Ange den önskade färgen */
    border-radius: 50%; /* Gör hörnen rundade för att skapa en cirkel */

}

.dots-6 aside:nth-child(1) {
   
    grid-column: 2 / 3;
    grid-row: 2 / 3;

}
.dots-6 aside:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
   
    align-self: center;

}
.dots-6 aside:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    align-self: end;

}
.dots-6 aside:nth-child(4) {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    justify-self: end;

}
.dots-6 aside:nth-child(5) {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    justify-self: end;
    align-self: center;

}
.dots-6 aside:nth-child(6) {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
    justify-self: end;
    align-self: end;

}

.item-1 {
    
    /*This is an example of how you can manupilate the boxes*/
    /* grid-row-start: 1;
    grid-row-end: 3;d
    grid-column-start: 1;
    grid-column-end: 5; */ 

    /*You can also do this method*/
    grid-row: 1 / 3;
    grid-column: 1 / 7

}

.item-2 {
   
   grid-area: 2 / 4 / 4 / 6;
   z-index: 1;
  
   
    /* Dessa två gör att jag expanderar 2 rows/column åt varje håll
    från min startposition */
    /*  grid-row: span 2;
    grid-column: span 2; */
}

.item-3 {
    /* Grid-area: row-start / col-start / row-end / col-end */
    grid-area: 3 / 1 / -1 / -1;
}  