header {
 
  padding: 1px;
  background-color: rgb(92, 92, 92);
  border-radius: 10px;
  
}

nav ul {
    display: flex;
    background-color: rgb(148, 151, 151);
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(193, 191, 191);
    
}

img {
   
    
}

ul {
    list-style: none;
}


a {
    text-decoration: none;
    color: black;
}

