h1 {
    a {
        color: red
    }
}

h1 {
    a {
        color: red
    }
}

h1 {
    a {
        color: red
    }
}

h1 {
    a {
        color: red
    }
}

//function
@function divide($a, $b){
    @return $a / $b
};

//suffix
.sidebar{
    max-width: 600px;
    margin: 4rem auto;
    &__copy{
        display:none;
        &--open{
            display: block;
        }
    }
}

%my-placeholder {
    font-weight: bold;
    font-size: 1rem;
}

.my-element {
    @extend %my-placeholder;
}

%message-shared{
    border: 1px solid black;
    padding: 10px;
    color: white;
}

.message{
    @extend %message-shared;
}

.success {
    @extend %message-shared;
    border-color: green;
}

.error {
    @extend %message-shared;
    border-color: red;
}

h1 {
    a {
        color: red
    }
}

h1 {
    a {
        color: red
    }
}

@mixin theme ($theme: darkgrey) {
    border: 1px solid black;
    padding: 10px;
    
}

h1 {
    a {
        color: red
    }
}
