* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

main > * {
    color: white;
    letter-spacing: 0,2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

main h1 {
    font-size: 4rem;

}

main p {
    font-size: 2rem;
    margin-right: 1rem;
}

.container {
    width: 15rem;
    background-color: rgb(5, 21, 21);
    height: auto;
    border-radius: 1rem;
    padding: 5px
    
}

.item {
margin: 0.5rem;
height: 13.5rem;
border-radius: 50%;
background-color: rgb(238, 237, 237);
}

.item:first-child {
    background-color: red;
    border: solid 15px rgb(106, 38, 38);
}

.item:nth-child(2){
    background-color: yellow;
    border: solid 15px rgb(113, 113, 62)
}

.item:last-child {
    background-color: rgb(8, 218, 8);
    border: solid 15px rgb(37, 74, 37)
}
